<body>
  <div class="font-sans min-h-screen antialiased bg-gray-900 pt-24 pb-5">
    <div class="flex flex-col justify-center sm:w-96 sm:m-auto mx-5 mb-5 space-y-8">
      <h1 class="font-bold text-center text-4xl text-yellow-500">Citizen Report Administrator</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="flex flex-col bg-white p-10 rounded-lg shadow space-y-4">
          <h1 class="font-bold text-xl text-center">Sign In</h1>

          <div class="flex flex-col">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" placeholder="Email">
              <mat-error *ngIf="email?.invalid">
                <mat-error *ngIf="email?.errors?.required">Email is cannot be
                  <strong>blank</strong>
                </mat-error>
                <mat-error *ngIf="email?.errors?.email">Email should be a
                  <strong>valid</strong> email address
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="********">
              <mat-error *ngIf="password?.invalid">
                <mat-error *ngIf="password?.errors?.required">Password cannot be
                  <strong>blank</strong>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="flex flex-col-reverse sm:flex-row sm:justify-between items-center">
            <button mat-button type="submit" [disabled]="loginForm.invalid" [ngClass]="loginForm.invalid ? 'text-gray-900' : 'hover:bg-yellow-700 transition-colors'" class="bg-yellow-500 text-white font-bold px-5 py-2 rounded focus:outline-none shadow w-full">Log In</button>
          </div>
        </div>
      </form>
      <div class="flex justify-center text-gray-400 text-sm">
        <p>&copy;2021. All right reserved.</p>
      </div>
    </div>
  </div>
</body>
