<div class="flex flex-col">
  <div class="">
    <div class="flex my-4 text-2xl font-thin">
      Add Sub County
    </div>
  </div>

  <div class="flex justify-end">
    <button class="border px-2 py-2 bg-gray-900 text-white rounded-md" [routerLink]="['/directorate/sub-counties']">Back</button>
  </div>

  <div>
    <div class="flex flex-col md:ml-auto w-full mt-4">
      <form [formGroup]="subCountyForm" (ngSubmit)="onSaveSubCounty(subCountyForm)" class="text-gray-900">
        <div class="md:flex md:space-x-4 w-full py-1">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Select District</mat-label>
            <input matInput placeholder="Search Districts" aria-label="State" [matAutocomplete]="auto"
              formControlName="district_id">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayState" (optionSelected)="getDistrictDetails($event.option.value)" required>
              <mat-option *ngFor="let item of filteredDistricts | async" [value]="item">
                <span class="font-bold text-sm text-gray-700">{{item.name}}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="district?.invalid">
              <mat-error *ngIf="district?.errors?.required">District
                <strong>required</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:flex md:space-x-4 w-full py-1">
          <mat-form-field appearance="outline" class="md:w-1/2 w-full">
            <mat-label>County Code</mat-label>
            <input matInput formControlName="sub_county_code">
          </mat-form-field>
          <mat-form-field appearance="outline" class="md:w-1/2 w-full">
            <mat-label>County Name</mat-label>
            <input matInput formControlName="sub_county_name">
            <mat-error *ngIf="subCountyName?.invalid">
              <mat-error *ngIf="subCountyName?.errors?.required">Sub County Name
                <strong>required</strong>
              </mat-error>
          </mat-error>
          </mat-form-field>
        </div>
        <div class="flex space-x-2">
          <button type="button" class="text-gray-500 bg-white border border-gray-500 py-2 px-6 focus:outline-none hover:text-white hover:bg-gray-600 rounded text-lg">Cancel</button>
          <button type="submit" class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg">Save</button>
        </div>
      </form>

    </div>


  </div>
</div>
