<div class="min-h-screen" *ngIf="_authService.isAuthenticated()">
  <div class="w-auto h-screen fixed bg-gray-100">
    <div class="flex-col justify-evenly py-2 space-y-8 mx-4">
      <div class="flex space-x-4 justify-evenly">
        <div class="w-10 h-10 bg-yellow-900 rounded-lg border-4 shadow">
        </div>
        <a class="flex flex-col justify-evenly" routerLink="/">
          <span class="text-gray-500 font-semibold uppercase text-sm leading-4">Dashboard</span>
          <span class="text-base text-gray-700 font-bold">Citizen Report</span>
        </a>
        <div class="flex justify-end">
          <span mat-button [matMenuTriggerFor]="menu" class="hover:cursor-pointer">
            <svg class="w-5 h-5 p-1 text-gray-800 border rounded-full font-bold bg-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
          </span>
          <mat-menu #menu="matMenu">
            <a href="#" mat-menu-item>View Website</a>
          </mat-menu>
        </div>
      </div>

      <div class="px-5">
        <span class="text-gray-500 text-sm uppercase leading-3 font-medium">Civic Education</span>
        <ul class="my-2">
          <li class="my-1">
            <a [routerLink]="['/civic-education/history-lessons']" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path></svg>
                <div class="text-xs capitalize leading-5">History Lessons</div>
              </div>
            </a>
          </li>
          <li class="my-1">
            <a routerLink="/civic-education/illustrsted-stories" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Illustrated Stories</div>
              </div>
            </a>
          </li>
          <!-- <li class="my-1">
            <a routerLink="/civic-education/podcasts" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Podcasts</div>
              </div>
            </a>
          </li> -->
          <!-- <li class="my-1">
            <a routerLink="/civic-education/video-materials" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                <div class="text-xs capitalize leading-5">Video Materials</div>
              </div>
            </a>
          </li> -->
          <!-- <li class="my-1">
            <a routerLink="/civic-education/written-articles" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"></path>
                  <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z"></path>
                </svg>
                <div class="text-xs capitalize leading-5">Written Articles</div>
              </div>
            </a>
          </li> -->
        </ul>
      </div>

      <div class="px-5">
        <span class="text-gray-500 text-sm uppercase leading-3 font-medium">Directory</span>
        <ul class="my-2">
          <li class="my-1">
            <a routerLink="/directorate" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Districts</div>
              </div>
            </a>
          </li>
          <li class="my-1">
            <a routerLink="/social-econ-stats/education" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Education</div>
              </div>
            </a>
          </li>
          <li class="my-1">
            <a routerLink="/social-econ-stats/governance" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Governance</div>
              </div>
            </a>
          </li>
          <li class="my-1">
            <a routerLink="/social-econ-stats/health" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Health</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="px-5">
        <span class="text-gray-500 text-sm uppercase leading-3 font-medium">Settings</span>
        <ul class="my-2">
          <li class="my-1">
            <a routerLink="/settings" routerLinkActive="transition-all duration-500 ease-in-out bg-white font-bold text-yellow-500" class="p-2 rounded hover:bg-white block text-gray-500">
              <div class="flex space-x-2">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                <div class="text-xs capitalize leading-5">Account</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="w-9/12 bg-white mx-2 ml-64">
    <div class="flex flex-col">
      <div class="flex border-b border-gray-100 h-16 justify-end py-4 space-x-4">
        <div>
          <svg class="w-8 h-8 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
        </div>
        <span mat-button [matMenuTriggerFor]="logoutMenu" class="hover:cursor-pointer">
          <span class="text-sm leading-7 text-gray-500 font-semibold">Admin</span>
        </span>
        <mat-menu #logoutMenu="matMenu">
          <span mat-menu-item (click)="logout()">Log Out</span>
        </mat-menu>
      </div>
      <div class="py-2">
        <router-outlet>

        </router-outlet>
      </div>
    </div>
  </div>
</div>

<app-login *ngIf="!_authService.isAuthenticated()"></app-login>

