<div class="">
  <div class="flex my-4 text-2xl font-thin">
    Contact Information Overview
  </div>
</div>

<div class="flex justify-end">
  <button class="border px-2 py-2 bg-gray-900 text-white rounded-md" [routerLink]="['new-contact-information']">Add Contact Information</button>
</div>



<div class="w-full mx-auto overflow-auto">
  <h3>List of All Contact Information</h3>
</div>

<section class="text-gray-600 body-font">
  <div class="py-2 mx-auto">
    <div class="w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr class="bg-gray-200 text-gray-600 uppercase">
            <th class="px-4 py-3 title-font tracking-wider font-medium text-sm">#</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-sm">Name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-sm">Code</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-sm">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 hover:bg-gray-100 font-thin">
            <td class="px-4 py-3">1</td>
            <td class="px-4 py-3 font-medium">Kyadondo</td>
            <td class="px-4 py-3">12800</td>
            <td class="px-4 py-3">
              <div class="flex space-x-4">
                <svg class="w-4 h-4 transform hover:text-green-500 hover:scale-110 hover:cursor-pointer" [routerLink]="['edit-district']" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                <svg class="w-4 h-4 transform hover:text-green-500 hover:scale-110 hover:cursor-pointer" (click)="confirmDelete()" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex mt-4 w-full mx-auto">
      <a class="text-gray-500 inline-flex items-center md:mb-2 lg:mb-0">Page 1 of 100</a>
    </div>
  </div>
</section>

<div class="flex">
  <button class="border border-gray-500 text-gray-500 rounded-sm font-bold py-2 px-2 mr-2 flex items-center hover:bg-gray-500 hover:text-white">
      <svg class="h-2 w-5 mr-2 fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
          <path id="XMLID_10_" d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"></path>
      </svg>
      Previous page
  </button>
  <button class="border border-gray-500 bg-gray-500 hover:bg-gray-900 text-white rounded-sm font-bold py-2 px-2 ml-2 flex items-center">
      Next page
      <svg class="h-2 w-5 ml-2 fill-current" clasversion="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
      <path id="XMLID_11_" d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
          l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
          c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"/>
      </svg>
  </button>
</div>
