<div class="flex flex-col">
  <div>
    <div class="my-4 text-3xl font-thin">Dashboard Statistics</div>
    <!-- <div class="bg-green-50 border border-gray-200 w-1/3 py-4 px-8 space-y-4">
      <div class="flex justify-between">
        <div class="text-gray-900 text-lg">
          Report
        </div>
        <div>
          Weekly
        </div>
      </div>
      <div>
        Available Funds
      </div>
      <div>
        <span>$</span>
        <span>24000</span>
        <span>12.2%</span>
      </div>
      <p>
        Total Net Margin
      </p>
      <p>
        Sales Earning
      </p>
      <div>
        Download Report
      </div>
    </div> -->
  </div>
  <div>
    <section class="text-gray-600 body-font">
      <div class="container py-2 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
              <svg
                class="text-green-500 w-12 h-12 mb-3 inline-block"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-gray-900">10K</h2>
              <p class="leading-relaxed">History Lessons</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
              <svg
                class="text-green-500 w-12 h-12 mb-3 inline-block"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-gray-900">30K</h2>
              <p class="leading-relaxed">Illustrated Videos</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="text-green-500 w-12 h-12 mb-3 inline-block"
                viewBox="0 0 24 24"
              >
                <path d="M3 18v-6a9 9 0 0118 0v6"></path>
                <path
                  d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-gray-900">356</h2>
              <p class="leading-relaxed">Podcasts</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
              <svg
                class="text-green-500 w-12 h-12 mb-3 inline-block"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-gray-900">150</h2>
              <p class="leading-relaxed">Video Materials</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
