<div class="flex flex-col">
  <div class="">
    <div class="flex my-4 text-2xl font-thin">
      Add History Lesson
    </div>
  </div>

  <div class="flex justify-end">
    <button class="border px-2 py-2 bg-gray-900 text-white rounded-md" [routerLink]="['/civic-education/history-lessons']">Back</button>
  </div>

  <div>
    <div class="flex flex-col md:ml-auto w-full mt-4">
      <form [formGroup]="historyLessonForm" (ngSubmit)="onSaveHistoryLesson(historyLessonForm)" class="text-gray-900">
        <div class="md:flex md:space-x-4 w-full py-1">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="title?.invalid">
              <mat-error *ngIf="title?.errors?.required">Title
                <strong>required</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:flex md:space-x-4 w-full py-1">
          <div class="flex-col w-full">
            <mat-label>Description</mat-label>
            <ckeditor formControlName="description" [editor]="Editor" data=""></ckeditor>
          </div>
        </div>

        <div class="md:flex md:space-x-4 w-full py-1">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link">
            <!-- <mat-error *ngIf="title?.invalid">
              <mat-error *ngIf="title?.errors?.required">Title
                <strong>required</strong>
              </mat-error>
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="md:flex md:space-x-4 w-full py-1">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>tag</mat-label>
            <input matInput formControlName="tag">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author">
          </mat-form-field>
        </div>

        <div class="flex space-x-4">
          <button class="focus:outline-none text-yellow-600 text-sm py-2.5 px-5 rounded-md border border-yellow-600 hover:bg-yellow-50" type="button" [routerLink]="['/civic-education/history-lessons']">Cancel</button>
          <button type="submit" [disabled]="historyLessonForm.invalid" [ngClass]="historyLessonForm.invalid ? 'focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-yellow-300 cursor-not-allowed' : 'focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-yellow-500 hover:bg-yellow-700 hover:shadow-lg transition-colors'" class="">
            <span *ngIf="isLoading">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span>
                Saving
              </span>
            </span>
            <span *ngIf="!isLoading">
              Save
            </span>
          </button>
        </div>
      </form>

    </div>


  </div>
</div>
